@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
@font-face {
    font-family: FiraSans;
    src: url(resource/FiraSans-ExtraBold.ttf);
}
@font-face {
    font-family: InstrumentSans;
    src: url(resource/InstrumentSans-Regular.ttf);
}

body {
    align-items: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #1f0f2c;
    background-image: radial-gradient(MidnightBlue, Black);
    font-size: 14px;  
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

header {
    background: #1b1f28;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    list-style-type: none;
    cursor: pointer;
}
  
.logo {
    height: 42px;
    padding: 10px 25px 5px; 
    cursor: pointer;
}

ul {
    display: flex;
    gap: 36px;
    flex-shrink: 0;
    justify-content: flex-end;
    padding-right: 25px; 
}



.top {
    color: #f9faf8;
    text-align: center;
    padding: 100px;
}

.title {
    font-size: 48px;
    font-family: FiraSans;
    color: deepskyblue;
    padding-top: 50px;
    padding-bottom: 50px;
}

.top_text {
    font-family: InstrumentSans;
    font-size: 16px;
    margin-bottom: 36px;
}

.subscribe_button {
    background-color: slateblue;
    color: #f9faf8;
    border-color: slateblue;
    border-radius: 8px;
    padding: 8px 24px;
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 36px;
    font-size: 18px;
    font-weight: bold;
}

.contact_button {
    background-color: MidnightBlue;
    color: #f9faf8;
    border-color: slateblue;
    border-radius: 8px;
    padding: 8px 24px;
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 36px;
    font-size: 18px;
    font-weight: bold;
}

#hero_logo {
    width: 10%;
    min-width: 65px;
    margin-top: 150px;
}

#hero_image {
    width: 40%;
    min-width: 300px;
    height: auto;
}

#screenshot {
    width: 100%;
    height: auto;
    margin-top: 180px;
    margin-bottom: 100px;
}



.center {
    background-color: #f9faf8;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    padding-top: 136px;
    padding-bottom: 365px;
    gap: 36px;
    text-align: center;
}

.center_title {
    font-weight: bolder;
    font-size: 36px;
    margin: 24px;
}

.center_items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    margin: 20px;
}

@media (max-width: 1390px) and (min-width: 700px) {
    .center_items {
        margin-left: 200px;
        margin-right: 200px;
    }
}

.center_item {
    font-weight: 300;
    border-radius: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 200px;
    width: 250px;
    padding: 20px;
    align-self: center;
    justify-self: center;
}

.subtext {
    margin-top: 12px;
}



.login {
    padding-top: 256px;
    padding-bottom: 200px;
    text-align: center;
}

#loginLogo {
    width: 60px;
}

#loginImage {
    width: 300px;
}

.loginBox {
    background-color: midnightblue;
    border-radius: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 350px;
    padding: 30px;
    color: white;
}

.loginFormContainer {
    width: 450px;
    margin: auto;
}

.loginTitle {
    font-size: 36px;
    font-family: FiraSans;
    color: deepskyblue;
    padding-top: 20px;
/*    padding-bottom: 20px;*/
}

.loginText {
    color: skyblue;
}

.loginText:hover,
.loginText:active {
    color: deepskyblue;
    cursor: pointer;
}

.loginButton button {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: slateblue;
    border-radius: 7px;
    margin: 30px;
    padding: 10px 40px;
    cursor: pointer;
}

.loginButton button:active {
    background-color: darkslateblue;
}

.loginFooter {
    color: darkslateblue;
}

.loginFooter ul {
    justify-content: center;
}

.loginFooter li:hover,
.loginFooter li:active {
    color: deepskyblue;
}

.errorMessage {
    display: none;
    color: lightcoral;  
    position: absolute;
    padding-top: 4px;
}

.usernameInput {
    text-align: left;
}

.usernameInput label {
    margin-left: 5px;
}

.usernameInput input {
    display: block;
    width: 350px;
    border-radius: 5px;
    padding: 1rem;
    font-size: 18px;
}

.usernameInput > input::placeholder {
    opacity: 0.5;
}  

.usernameInput > input:invalid:not(:placeholder-shown) + .errorMessage {
    display: block;
}

.usernamePlaceholder {
    color: deepskyblue;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 10px;
}

.page {
    position: relative;
    min-height: 100vh;
}

#content {
    padding: 0%;
    padding-bottom: 1.5rem;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding: 24px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
}
